// ***************************************
//        MAIN CONTAINER
// ***************************************

.main-container {
    background-color: $body-bg-color;
    min-height: 100vh;
    text-align: center;

    @include for-medium-screens {
        @include flexbox;
    }
}

.logo {
    margin: 4rem auto;

    @include for-medium-screens {
    }
}


.attribution {
    background-color: $White;
    padding: 2rem;
    font-size: 1.4rem;
    font-weight: 700;

    a {
        color: $cyan;
    }
}