// **************************
//         BUTTONs
// **************************

.btn {
    background-color: $Very-dark-cyan;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    font-family: $main-font;
    font-size: 2rem;
    outline: none;
    color: $White;
    padding: .6rem 0;

    &-reset {
        background-color: $cyan;
        color: $Very-dark-cyan;
        font-weight: 700;
        font-size: 1.5rem;
        width: 100%;
        text-transform: uppercase;
        margin-top: 3rem;
        transition: all .5s;

        &:hover {
            background-color: #9FE8DF;
            transform: scale(1.01);
        }

        &:active {
            background-color: $cyan;
            transform: scale(1);
        }

        @include for-large-screens {
            padding: 1.5rem 0;
        }

        &:disabled {
            opacity: .2;
            cursor: not-allowed;
            user-select: none;

            &:hover,
            &:active {
                background-color: $cyan;
                transform: none;
            }
        }
    }

    &-tip {
        width: 11.5rem;
    }
}